@import url('fonts.css');

:root {
    background: #22201c;
    color: #aaa;
    padding: 1.5rem;
    text-align: justify;
    --sans: system-ui, amazon_ember, sans-serif;
    --serif: source_serif_pro, serif;
}
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: solid 1px #444;
}
header, h1 {
    font-variant: all-small-caps;
}
time {
    font-size: large;
    font-family: serif;
    font-variant-numeric: oldstyle-nums;
}
.recipient address:first-child { margin-bottom: 2em; }
div.sender {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
h1 {
    color: #ccc;
    font-family: var(--serif);
    margin: 2rem 0;
    font-size: x-large;
}
hr {
    width: 20%;
    color: #999;
    border: dashed 1px;
    margin: 3rem auto;
}
body {
    margin: 1rem auto;
    max-width: 650px;
    font-family: var(--sans);
}
address { font-style: normal; }
p { margin: 1.5rem 0; }
a { color: inherit; }
